.container  
  %ul 
    -@profile.errors.full_messages.each do |message|
      %li=message 

  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, 'Avatar'
    %div
      = f.file_field :avatar
    %div
      = f.label :accountname, 'Account Name'
    %div
      = f.text_field :accountname, class: 'text'
    %div
      = f.label :introduction, 'Bio'
    %div
      = f.text_area :introduction, class: 'textarea'
   
    = f.submit "Update", class: 'btn-primary'   