.profilePage 
  .container
    .profilePage_user_displayName 
      = current_user.display_name  
    .profilePage_image
      = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
        = f.label :avatar do
          = image_tag current_user.avatar_image, class: 'avatar-image'
        %div
          = f.file_field :avatar, class: 'hidden uploader' 
          = f.submit 'SUBMIT', class: 'hidden submit-btn'

    .profilePage_dataBox 
      .profilePage_dataBox_inner 
        %p 44
        %p Posts 
      .profilePage_dataBox_inner
        %p 110
        %p Followers
      .profilePage_dataBox_inner 
        %p 44
        %p Following
    .profilePage_actionButton 
      = link_to 'Edit', edit_profile_path 
    .profilePage_imgBox 
      = image_tag 'img3.png'
      %div 
        = image_tag 'img1.png'
        = image_tag 'img2.png'
    .profilePage_imgBox 
      = image_tag 'img6.png'
      %div 
        = image_tag 'img5.png'
        = image_tag 'img4.png'

= javascript_pack_tag 'profile'
