.container
  .index_header
    .camerabtn
      = link_to new_article_path do 
        %button
          %i.fa-solid.fa-camera-retro

  - @articles.each do |article|
    -# = link_to article_path(article) do
    .card
      .card_detail
        = image_tag article.user.avatar_image
        %div
          %h3= article.author_name
          %p= post_time(article.created_at)
      .card_grid
        - if article.images.attached?
          - article.images.each do |image|
            .card_image
              = image_tag image.variant(resize: '170!x100').processed, class: 'card_image_large'
      .card_content
        .card_icon
          .card_icon_heart
            = image_tag 'heart.svg'
          .card_icon_comment 
            = image_tag 'message.png'
          .card_icon_share
            = link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' do 
              = image_tag 'share.png'
        %p= "Maki and 100 other liked your post"
        .card_content_caption
          %h3= article.author_name
          = link_to article_path(article) do
            %p= article.content
      