.container
  .card
    .card_image
      = image_tag 'eyecatch1.png'
    .card_content
      .card_heart
        = image_tag 'heart.png'
        %span 23
      .card_detail
        = image_tag 'default-avatar.png'
        %div
          %p cohki0305
          %p 2020/4/16
  .card
    .card_image
      = image_tag 'eyecatch2.png'
    .card_content
      .card_heart
        = image_tag 'heart.png'
        %span 23
      .card_detail
        = image_tag 'default-avatar.png'
        %div
          %p cohki0305
          %p 2020/4/16
  .card
    .card_image
      = image_tag 'eyecatch3.png'
    .card_content
      .card_heart
        = image_tag 'heart.png'
        %span 23
      .card_detail
        = image_tag 'default-avatar.png'
        %div
          %p cohki0305
          %p 2020/4/16

